
body#institution,
body#people,
body#user,
body#admin,
body#superadmin {
	margin-top: 65px;
}

html {

	background-color: #FFF;
	background-size: auto;
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position: center center;

}
body {

	/* font-family: "poppinsregular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

	/* height: 120vh; avec cet hauteur il y à beaucoup d'espace entre le container et le footer */
	height: 100vh;
	min-height: 100vh;
	font-size: 0.95em;
	font-weight: 200;
	color: #033750;
}

body.large main {
	max-width: 100%;
}
body.semi main {
	max-width: 60%;
	margin:auto;
}
body.sub_knower, body.sub_doer { padding-top: 0; }

body a {
  color: #033750;
  text-decoration: none !important;
}
body a:hover {
  color: #033750;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	/* font-family: "poppinslight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
	font-weight:100;
}
#mainnavbar {
	font-size: 1em;
	height: 65px;
	width: 100%;
	-webkit-background-size: cover;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: transparent !important;
}
#mainnavbar .specialico {
	background: #E21180;
	padding: 2px 5px 2px 5px;
	margin: 8px 10px 0 10px;
	padding-bottom: -10px;
	font-size: 0.85em;
	border-radius: 5px;
	position: relative;
	color: #CCC;
}
.navbar-brand {
	font-weight: 100;
}
.navbar-brand img {
	padding-top: 2px;
}
.navbar-brand span {
	letter-spacing: .2rem;
}
p {
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
 	margin-top: 0;
 	margin-bottom: 1rem;
 	color: #033750;
 	text-align: justify;
}
li {
	display: block;
	line-height: 1.5;
 	color: #033750;
 	text-align: justify;
}
section{
	padding-top: 35px;
}

.cty-h2 {
  font-size: 1.875rem;
  text-transform: none;
  font-weight: 600;
  color: #033750;
  margin: 2rem 0 2rem;
	text-align: center;
}
.cty-h3 {
  font-size: 30px;
  font-weight: 300;
  color: #033750;
  text-align: justify;
}
.cty-h4 {
  /* font-size: 30px; */
  font-weight: 600;
  color: #033750;
  text-align: left;
}
.cty-h4 {
  /* font-size: 30px; */
  font-weight: 600;
  color: #033750;
  text-align: left;
}
.cty-text {
	font-size:20px;
	line-height: 34px;
	margin-top: 0;
  margin-bottom: 1rem;
	display: block;
  text-align: justify;
}
#banner-bloc {
	background-position: 0 -65px;
}
#footer {
  color: white;
	/* padding: 0 0 60px 0; */
	background: #023f5b;
}
#banner-bloc a, #footer a {
  color: #fff;
	text-decoration:none;
}
#banner-bloc a:focus,
#banner-bloc a:hover
#footer a:focus,
#footer a:hover {

  color: #014c8c;
  text-decoration: underline;
 	outline-width: 0;
  color: #ababab;
  text-decoration: none;
 	outline: none;

}

/**
 *
 * Corrections bootstrap
 *
 */


.embed-responsive object {
	position: relative !important;
}
.tab-content {

	border: 1px solid #dee2e6;
	border-top: none;
	padding: 15px;

}
.btn-block {
	margin-top: 0.5rem;
}
@media print {

	#piedprint {
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	background:#ee5;
	}

}
#content {
	/* background: #000; */
	min-height: 100vh;
}
main .progress {
	margin-bottom: 30px;
}
#box-alert {
	position: relative;
	top:0;
	left:0;
	width:100%;
}
#box-alert .alert {
	position: relative;
	border-radius: 0;
}
/**
 *
 * Menu lateral DASHBOARD
 *
 */
#sidebar  {
  transition:all 0.4s ease-in-out 0s;
  border-right: 1px solid #dcdcdc;
  background-color: #f7f7f7;
}
#sidebar a {
  text-decoration: none;
}
:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#sidebar ul li a:hover {
  color: #fff;
	background-color: #0b3d54;
}
#sidebar .clear {
  clear: both;
}
#sidebar .dash-info {
  color: #0b3d54;
	text-align: left;
	text-transform: uppercase;
	padding: 0 10px 0 16px;
	font-size: 0.85em;
	font-weight: bolder;
}

#sidebar .dash-info {
  color: #0b3d54;
	text-align: left;
	text-transform: uppercase;
	padding: 30px 10px 0 16px;
	font-size: 0.85em;
	font-weight: bolder;
}
#sidebar .dash-info:first-child {
	padding-top: 0;
}
#sidebar span.picto {
	width: 30px;
	display: inline-block;
}
#sidebar ul {
	list-style-type: none;
	padding: 0;
}
#sidebar ul li {
	padding: 0;
}
#sidebar ul li a {
  padding: 5px 16px 5px 16px;
  display: block;
  color: #0b3d54;
  position: relative;
}

@media  (max-width:768px){
	#sidebar {
	 	max-width: 195px;
	  height: 100vh;
		/* max-height: 100vh; */
	  float:left;
	}

}
@media  (max-width:576px){
	#sidebar {
	 	min-width: 10vh;
	  height: 100vh;
		/* float:left; */
	}
}

#sidebar ul li.child-menu ul {
  background: #aaa;
  display: none;
  border-top: 1px solid #ddd;
}
#sidebar ul li.child-menu ul li a {
  background: #273135;
   padding: 10px 20px;

}
@media  (max-width:576px){
	#sidebar {
	 	max-width: 120px;
	  height: 100vh;
   	float:left;
	}
	#sidebar ul li a{
		font-size: 10px;
		margin: 0;
		padding: 7px;
	}
	#sidebar ul li a i{
		margin: 0;
	}
}
@media (max-width:768px){
	#sidebar {
	 	max-width: 195px;
	  height: 100vh;
		font-size: 12px;
	  /* float:left; */
	}
}

/**
 *
 * BUY CARDS TOKENS
 *
 */
#tokens-offers .card.card-buy {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
	border-radius: 50px;
	width: 100%;
	height: 100%;
}
.card-body .alert {
	margin:0;
}
#tokens-offers .card .card-buy .card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
}
#tokens-offers .card.card-buy .card-header {
	border: none;
	background-color: transparent !important;
}
#tokens-offers .card.card-buy .card-footer  {
	background-color: #fff;
	text-align: center;
	margin: 0;
	width: 100%;
}
#tokens-offers .card.card-buy .card-footer:last-child{
	border-radius: 50%;
}
#tokens-offers .card.card-buy .price {
	 text-align: center;
	 margin: 0 0 15px 0;
	 width: 100%;
	 padding: 8px 5px 5px 5px;
	 background: #e31080;
	 color: #fff;
	 font-weight: 800;
	 text-transform: uppercase;
	 font-size: 1.125rem;
	 line-height: 1.5rem;
	 border-radius: 5px;
	 box-shadow: 0 7px 30px rgba(152, 10, 85, 0.5);
}

#tokens-offers .card.card-buy .bonus {
 text-align: center;
 margin: 0;
 padding: 0;
 width: 100%;
 color: #e31080;
 font-weight: 800;
 text-transform: uppercase;
 font-size: 1.125rem;
}

#tokens-offers .card.card-buy .sold {
	 text-align: center;
	 line-height: 1.563rem;
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 color: #083850;
	 font-weight: 700;
	 font-size: 1.563rem;
}
#tokens-offers .card.card-buy h5, .card.card-buy .sold {
   color: #083850;
   font-weight: 700;
   font-size: 1.563rem;
	 margin: 8px 0 0 0;
	 padding: 0;
}
#tokens-offers .card.card-buy .buy {
	 display: block;
	 color: #fff !important;
	 background-color: #033750;
	 padding: 20px;
	 text-transform: uppercase;
	 font-size: 1rem;
	 font-weight: 700;
	 line-height: 14px;
	 border-top-left-radius: 0;
	 border-top-right-radius: 0;
	 border-bottom-left-radius: 50px;
	 border-bottom-right-radius: 50px;
	 text-decoration: none;
	 text-shadow: 0 0 15px #0094db;
}
#tokens-offers .card.card-buy .buy small {
	font-size: 0.75rem;
	font-weight: 300;
}
