/* ===================================================================*/
/*     Design CSS                                                   */
.retornoCad{ margin-top: 20px; font-weight: bold; color:blueviolet; line-height: 20px;}
.retornoSen{ margin-top: 20px; font-weight: bold; color:blueviolet; line-height: 20px;}
.resultadoForm{ margin-top: 20px; font-weight: bold; color:red; line-height: 20px;}
.retornoLogin{ margin: 1em 0 0.5em 15%; font-weight: bold; color:red; line-height: 20px; }

.retornoRedSenha{ margin-top: 20px; font-weight: bold; color:red; line-height: 20px;}

